.clubs {
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 600px;
    }

    input[type=text] {
        width: 100%;
        padding: 15px;
        font-size: 20px;
        outline: none;
        font-family: "Open Sans", sans-serif;
        background: #FFFFFF;
        border: 1px solid #BDC3C7;
        color: #34495E;
        font-weight: 600;
        margin: 10px auto 50px;
        display: block;
    }

    .loading {
        margin-top: 75px;
    }

    .club:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #BDC3C7;
    }
}
