nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav > li > a {
    padding-left: 18px;
    padding-right: 18px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    background: white;
    border-bottom: 1px solid #BDC3C7;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #BDC3C7;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #34495E;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #34495E;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li > a.active {
        border-bottom: 4px solid #34495E;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #34495E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #34495E;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #54597E;
}

.header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

nav .lhs, nav .home {
    font-size: 24px;
    font-family: "Righteous", sans-serif;
    text-decoration: none;
}

nav .lhs {
    color: #34495e;
}

nav .home {
    color: #8E44AD;
}

