.welcome {
    background: url(../img/club.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    min-height: 400px;
    height: calc(100vh - 72px);

    .container {
        height: 100%;
    }

    .contents {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        text-align: center;
    }

    .title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 28px;
        display: block;
    }

    .body {
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
    }

    button {
        background: #FFFFFF;
        color: #8E44AD;
        border: 1px solid #FFFFFF;
        padding: 10px 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 18px;
        border-radius: 6px;
    }
}
